<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	
	<typeAliases>
		
		<!-- admin(선경) -->
		<typeAlias type="com.kh.hotspot.admin.model.vo.Report" alias="Report" />
		<typeAlias type="com.kh.hotspot.admin.model.vo.Review" alias="Review" />
		<!-- admin(현우 -->
		<typeAlias type="com.kh.hotspot.admin.notice.model.vo.Notice" alias="Notice"/>
		<typeAlias type="com.kh.hotspot.admin.inquiry.model.vo.Inquiry" alias="Inquiry"/>
		<!-- 로그인(지수) -->
		<typeAlias type="com.kh.hotspot.guest.myPage.model.vo.Member" alias="Member"/>
	</typeAliases>
	
	<!-- 주의! mapper파일 없는데 등록하지말기, 만들고 등록하기 -->
	<mappers>
		<mapper resource="mappers/admin/notice-mapper.xml"/>
		<mapper resource="mappers/admin/inquiry-mapper.xml"/>
		<!-- 로그인기능 (전지수) -->
		<mapper resource="mappers/member/member-mapper.xml"/>
		<!-- admin(선경) -->
		<mapper resource="mappers/admin/admin-reportMapper.xml"/>
		<mapper resource="mappers/admin/admin-reviewMapper.xml"/>
		<!-- <mapper resource="mappers/admin/admin-memberMapper.xml"/> -->
	</mappers>
	


</configuration>
