<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	
	<typeAliases>
		
		<!-- admin(선경) -->
		<typeAlias type="com.kh.hotspot.admin.model.vo.Report" alias="Report" />
		<typeAlias type="com.kh.hotspot.admin.model.vo.Review" alias="Review" />
		<typeAlias type="com.kh.hotspot.guest.myPage.model.vo.Member" alias="adminMember"/>
		<typeAlias type="com.kh.hotspot.host.model.vo.HostInfo" alias="adminHostInfo"/>
		<!-- admin(현우 -->
		<typeAlias type="com.kh.hotspot.admin.notice.model.vo.Notice" alias="Notice"/>
		<typeAlias type="com.kh.hotspot.admin.inquiry.model.vo.Inquiry" alias="Inquiry"/>
		<typeAlias type="com.kh.hotspot.admin.faq.model.vo.Faq" alias="Faq"/>
		<typeAlias type="com.kh.hotspot.admin.reservation.model.vo.Reservation" alias="Reservationad"/>
		<typeAlias type="com.kh.hotspot.admin.space.model.vo.Space" alias="Spacead"/>
		<!-- 로그인(지수) -->
		<typeAlias type="com.kh.hotspot.guest.myPage.model.vo.Member" alias="Member"/>
		<!-- 메인,게스트공간(지혜) -->
		<typeAlias type="com.kh.hotspot.guest.space.model.vo.SpaceInfo" alias="SpaceInfo" />
		<typeAlias type="com.kh.hotspot.guest.voices.model.vo.VoicesNotice" alias="VoicesNotice" />
		<typeAlias type="com.kh.hotspot.guest.voices.model.vo.VoicesSearch" alias="VoicesSearch" />
		<typeAlias type="com.kh.hotspot.guest.space.model.vo.SpaceImages" alias="SpaceImages" />
		<typeAlias type="com.kh.hotspot.guest.space.model.vo.SpaceNotes" alias="SpaceNotes" />
		<typeAlias type="com.kh.hotspot.guest.space.model.vo.Review" alias="Reviews" />
		<typeAlias type="com.kh.hotspot.guest.space.model.vo.Qna" alias="Qna" />
		<typeAlias type="com.kh.hotspot.guest.myPage.model.vo.Wish" alias="Wish" />
		<!-- 호스트 관련(지은) -->
		<typeAlias type="com.kh.hotspot.host.model.vo.HostInfo" alias="HostInfo" />
		<typeAlias type="com.kh.hotspot.space.model.vo.Space" alias="Space" />
		<typeAlias type="com.kh.hotspot.space.model.vo.SpcNotes" alias="SpcNotes" />
		<typeAlias type="com.kh.hotspot.space.model.vo.SpcImages" alias="SpcImages" />
		<typeAlias type="com.kh.hotspot.host.model.vo.Qna" alias="hostQna" />
		<typeAlias type="com.kh.hotspot.guest.voices.model.vo.VoicesFaq" alias="VoicesFaq" />		
		<!-- 마이페이지(성희) -->
		<typeAlias type="com.kh.hotspot.guest.space.model.vo.Reservation" alias="Reservation"/>
		<typeAlias type="com.kh.hotspot.guest.myPage.model.vo.Member" alias="Member"/>
	</typeAliases>
	
	
	<mappers>
	<!-- 주의! mapper파일 없는데 등록하지말기, 만들고 등록하기 -->
		<!-- admin(현우) -->
		<mapper resource="mappers/admin/notice-mapper.xml"/>
		<mapper resource="mappers/admin/inquiry-mapper.xml"/>
		<mapper resource="mappers/admin/admin-faq-mapper.xml"/>
		<mapper resource="mappers/admin/admin-reservationMapper.xml"/>
		<mapper resource="mappers/admin/admin-spaceMapper.xml"/>
		<!-- 로그인기능 (전지수) -->
		<mapper resource="mappers/member/member-mapper.xml"/>
		<!-- admin(선경) -->
		<mapper resource="mappers/admin/admin-reportMapper.xml"/>
		<mapper resource="mappers/admin/admin-reviewMapper.xml"/>
		<mapper resource="mappers/admin/admin-memberMapper.xml"/>
		
		<!-- 메인,게스트공간(지혜) -->
		<mapper resource="mappers/guest/guestspace-mapper.xml"/>
		<mapper resource="mappers/guest/customerservice-mapper.xml"/>
		
		<!-- 호스트,공간 관련(지은) -->
		<mapper resource="mappers/host/host-mapper.xml"/>
	    <mapper resource="mappers/host/hostspace-mapper.xml"/> 
		
		<!-- 마이페이지(성희) -->
		<mapper resource="mappers/guest/mypage-mapper.xml"/>	
	</mappers>
	


</configuration>
