<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	
	<typeAliases>
		
		<!-- admin(선경) -->
		<typeAlias type="com.kh.hotspot.admin.model.vo.Report" alias="Member" />
		
	</typeAliases>
	
	<!-- 주의! mapper파일 없는데 등록하지말기, 만들고 등록하기 -->
	<mappers>
		
	</mappers>
	


</configuration>
