<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="spaceSearchMapper">

	<resultMap id="commonSpaceInfoSet" type="commonSpaceInfo">
		<id column="spc_no" property="spcNo"></id>
		<result column="spc_name" property="spcName" />
		<result column="spc_int" property="spcInt" />
		<result column="spc_long" property="spcLong" />
		<result column="spc_tag" property="spcTag" />
		<result column="spc_type" property="spcType" />
		<result column="spc_min" property="spcMin" />
		<result column="spc_max" property="spcMax" />
		<result column="spc_img" property="spcImg" />
		<result column="spc_chimg" property="spcChimg" />
		<result column="spc_price" property="spcPrice" />
		<result column="spc_hours" property="spcHours" />
		<result column="spc_holiday" property="spcHoliday" />
		<result column="spc_status" property="spcStatus" />
		<result column="spc_convn" property="spcConvn" />
		<result column="user_id" property="userId" />
		<result column="map_latitude" property="latitude" />
		<result column="map_longitude" property="longitude" />
		<result column="map_location" property="location" />
	</resultMap>
	
	<!-- 검색결과 갯수 조회 -->
	<select id="selectListCount" parameterType="SpaceInfo" resultType="_int">
		select
		       count(*)
		  from (
		         select
                         *
                   from space_info
				  where spc_name like #{searchWord}||'%' or spc_name like '%'||#{searchWord}||'%' or spc_name like '%'||#{searchWord} or
				        spc_tag like '%'||#{searchWord}||'%' or spc_tag like '%'||#{searchWord} or
				        spc_type like #{searchWord}||'%' or spc_type like '%'||#{searchWord}||'%' or spc_type like '%'||#{searchWord} or spc_type like #{searchWord} or
				        map_location like #{searchWord}||'%'
		       )
	</select>
	
	<!-- 검색결과리스트 조회 -->
	<select id="selectList" parameterType="SpaceInfo" resultMap="commonSpaceInfoSet">
		select
		       spc_no
		     , spc_name
		     , spc_int
		     , spc_long
		     , spc_tag
		     , spc_type
		     , spc_min
		     , spc_max
		     , spc_img
		     , spc_chimg
		     , spc_price
		     , spc_hours
		     , spc_holiday
		     , spc_status
		     , spc_convn
		     , user_id
		     , map_latitude
		     , map_longitude
		     , map_location
		  from (
		         select
                         *
                   from space_info
				  where spc_name like #{searchWord}||'%' or spc_name like '%'||#{searchWord}||'%' or spc_name like '%'||#{searchWord} or
				        spc_tag like '%'||#{searchWord}||'%' or spc_tag like '%'||#{searchWord} or
				        spc_type like #{searchWord}||'%' or spc_type like '%'||#{searchWord}||'%' or spc_type like '%'||#{searchWord} or spc_type like #{searchWord} or
				        map_location like #{searchWord}||'%'
		       )
		  where (spc_type like #{spcType}||'%' or spc_type like #{spcType}) and (map_location like #{location}||'%')
		  <if test="spcConvn != null">
		  	and (spc_convn like #{checkbox0}||'%' or spc_convn like '%'||#{checkbox0}||'%' or spc_convn like '%'||#{checkbox0})
		  	and (spc_convn like #{checkbox1}||'%' or spc_convn like '%'||#{checkbox1}||'%' or spc_convn like '%'||#{checkbox1})
		  	and (spc_convn like #{checkbox2}||'%' or spc_convn like '%'||#{checkbox2}||'%' or spc_convn like '%'||#{checkbox2})
		  	and (spc_convn like #{checkbox3}||'%' or spc_convn like '%'||#{checkbox3}||'%' or spc_convn like '%'||#{checkbox3})
		  	and (spc_convn like #{checkbox4}||'%' or spc_convn like '%'||#{checkbox4}||'%' or spc_convn like '%'||#{checkbox4})
		  </if>
		  order by enroll_date desc
	</select>
	
	<!-- 해당 공간의 총 리뷰 수 조회 -->
	<select id="selectReviewCount" parameterType="_int" resultType="_int">
		select
		      count(*)
		  from review
		 where spc_no = #{spcNo} 
	</select>
	
	<!-- 해당 공간의 총 위시 수 조회 -->
	<select id="selectWishCount" parameterType="_int" resultType="_int">
		select
		      count(*)
		  from wish
		 where spc_no = #{spcNo} 
	</select>
	
	<!-- 테스트 -->
	<select id="selectSearchCondition" parameterType="SpaceInfo" resultMap="commonSpaceInfoSet">
		select
		       spc_no
		     , spc_name
		     , spc_int
		     , spc_long
		     , spc_tag
		     , spc_type
		     , spc_min
		     , spc_max
		     , spc_img
		     , spc_chimg
		     , spc_price
		     , spc_hours
		     , spc_holiday
		     , spc_status
		     , spc_convn
		     , user_id
		     , map_latitude
		     , map_longitude
		     , map_location
		  from (
		         select
                         *
                   from space_info
				  where spc_name like #{searchWord}||'%' or spc_name like '%'||#{searchWord}||'%' or spc_name like '%'||#{searchWord} or
				        spc_tag like '%'||#{searchWord}||'%' or spc_tag like '%'||#{searchWord} or
				        spc_type like #{searchWord}||'%' or spc_type like '%'||#{searchWord}||'%' or spc_type like '%'||#{searchWord} or spc_type like #{searchWord} or
				        map_location like #{searchWord}||'%'
		       )
		 where spc_type like #{spcType}||'%' and map_location like #{location}||'%'
	</select>
</mapper>