<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="customerservicemapper">

	<resultMap id="noticeSet" type="VoicesNotice">
		<id column="NOTICE_NO" property="noticeNo" />
		<result column="USER_ID" property="userId" />
		<result column="NOTICE_TITLE" property="noticeTitle" />
		<result column="COUNT" property="count" />
		<result column="CREATE_DATE" property="createDate" />
		<result column="MODIFY_DATE" property="modifyDate" />
		<result column="STATUS" property="status" />
		<result column="NOTICE_CONTENT" property="noticeCon" jdbcType="CLOB" javaType="java.lang.String"/>
	</resultMap>
	
	<resultMap id="faqSet" type="VoicesFaq">
		<id column="FAQ_NO" property="faqNo" />
		<result column="USER_ID" property="userId" />
		<result column="FAQ_TITLE" property="faqTitle" />
		<result column="FAQ_TYPE" property="faqType" />
		<result column="ENROLL_DATE" property="faqEnrollDate" />		
		<result column="FAQ_CONTENT" property="faqCon" jdbcType="CLOB" javaType="java.lang.String" />
	</resultMap>

	<select id="selectListCount" resultType="_int">
		select
		       count(*)
		  from notice
		 where status='Y'
	</select>
  	
  	<select id="selectList" resultMap="noticeSet">
  		select notice_no
		     , notice_title
		     , create_date
		  from notice
		 where status='Y'
		 order
		    by notice_no desc
  	</select>
  	
  	<update id="increaseCount" parameterType="_int">
  		update notice
		   set count=count+1
		 where notice_no = #{nno}
		   and status='Y'
  	</update>
  	
  	<select id="selectNotices" parameterType="_int" resultMap="noticeSet">
		select notice_title
		     , notice_content
		     , count
		     , create_date
		     , modify_date
		  from notice
		 where status='Y'
		   and notice_no = #{nno}
  	</select>
  	
  	<select id="selectSearchNoticeCount" resultType="_int" parameterType="string">
  		select
		       count(*)
		  from notice
		 where status='Y'
		   and NOTICE_TITLE like '%'||#{keyword}||'%'
  	</select>
  	
  	<select id="selectSearchNoticeList" parameterType="string" resultMap="noticeSet">
  		select notice_no
		     , notice_title
		     , create_date
		  from notice
		 where status='Y'
		   and NOTICE_TITLE like '%'||#{keyword}||'%'
		 order
		    by notice_no desc
  	</select>
  	
  	<select id="selectFaqListCount" resultType="_int">
  		select count(*)
		  from FAQ
  	</select>
  	
  	<select id="selectFaqList" resultMap="faqSet">
  		select faq_no
		     , faq_title
		     , faq_content
		     , faq_type
		     , enroll_date
		  from faq
		 order
		    by faq_no desc
  	</select>
  	
  	<select id="selectSearchFaqCount" parameterType="VoicesSearch" resultType="_int">
  		select
		       count(*)
		  from FAQ
		 where faq_title like '%'||#{keyword}||'%'
		 <if test="questionType != '전체'">
		   and faq_type = #{questionType}
		 </if>
		 order by faq_no desc
  	</select>
  	
  	<select id="selectSearchFaq" parameterType="VoicesSearch" resultMap="faqSet">
  		select faq_no
		     , faq_title
		     , faq_content
		     , faq_type
		     , enroll_date
		  from faq
		 where faq_title like '%'||#{keyword}||'%'
		 <if test="questionType != '전체'">
		   and faq_type = #{questionType}
		 </if>
		 order by faq_no desc
  	</select>

</mapper>