<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="guestspaceMapper">

	<resultMap id="spaceInfoResultSet" type="SpaceInfo">
  		<id column="SPC_NO" property="spcNo" />
  		<result column="SPC_NAME" property="spcName" />
  		<result column="SPC_INT" property="spcInt" />
  		<result column="SPC_LONG" property="spcLong" />
  		<result column="SPC_TAG" property="spcTag" />
  		<result column="SPC_TYPE" property="spcType" />
  		<result column="SPC_MIN" property="spcMin" />
  		<result column="SPC_MAX" property="spcMax" />
  		<result column="SPC_IMG" property="spcImg" />
  		<result column="SPC_CHIMG" property="spcChimg" />
  		<result column="SPC_PRICE" property="spcPrice" />
  		<result column="SPC_HOURS" property="spcHours" />
  		<result column="SPC_HOLIDAY" property="spcHoliday" />
  		<result column="SPC_STATUS" property="spcStatus" />
  		<result column="SPC_CONVN" property="spcConvn" />
  		<result column="USER_ID" property="userId" />
  		<result column="MAP_LATITUDE" property="latitude" />
  		<result column="MAP_LONGITUDE" property="longitude" />
  		<result column="MAP_LOCATION" property="location" />
  		<result column="REVIEWS" property="reviews" />
  		<result column="WISHES" property="wishes" />
  		<result column="REVIEW_CONTENT" property="reviewCon" jdbcType="CLOB" javaType="java.lang.String" />
  		<result column="REVIEW_SCORE" property="reviewScore" />
  		<result column="REVIEW_DATE" property="reviewDate" />
  		
  	</resultMap>
  	
  	<resultMap id="spaceImageSet" type="SpaceImages">
  		<id column="IMG_NO" property="imgNo" />
  		<result column="IMG_OGIMG" property="imgOgimg" />
  		<result column="IMG_CHIMG" property="imgChimg" />
  		<result column="SPC_NO" property="spcNo" />
  	</resultMap>
  	
  	<!-- 투데이베스트 -->
  	 <select id="selectTodaySpace" resultMap="spaceInfoResultSet"> 
  	 	select *
		  from (
		        SELECT * 
		          FROM (
		                SELECT 
		                        SPC_NO
		                     , SPC_NAME
		                     , MAP_LOCATION
		                     , SPC_CHIMG
		                     , SPC_TAG
		                     , SPC_PRICE
		                     , COUNT(REVIEW_NO) REVIEWS
		                  FROM SPACE_INFO
		                  full OUTER JOIN REVIEW USING (SPC_NO)
		                  WHERE SPC_STATUS = 'Y'
		                  GROUP BY SPC_NO, SPC_NAME, MAP_LOCATION, SPC_TAG, SPC_PRICE, SPC_CHIMG
		                )
		          JOIN (   
		                SELECT SPC_NO, COUNT (*) WISHES
		                FROM WISH 
		                GROUP BY SPC_NO
		                ) 
		         USING (SPC_NO)
		         ORDER 
		            BY reviews desc, wishes desc
		        )
		where rownum &lt; 4
  	 
  	 </select>
  	 
  	 <!-- 오늘의 후기(장소 중복...다시 생각해보기) -->
  	 <select id="selectUserReview" resultMap="spaceInfoResultSet">
  	 	select *
		  from
		        (
		        SELECT 
		               SPC_NO
		             , SPC_NAME
		             , MAP_LOCATION
		             , SPC_CHIMG
		             , SPC_TAG
		             , SPC_PRICE
		          FROM SPACE_INFO
		        )
	   FULL outer
		     join 
		        (
		        SELECT SUBSTR(REVIEW_CONTENT, 0, 31)AS REVIEW_CONTENT
		             , REVIEW_SCORE
		             , REVIEW_DATE
		             , SPC_NO
		          FROM REVIEW
		         WHERE REVIEW_SCORE &gt; 3
		         ORDER BY REVIEW_DATE DESC, REVIEW_SCORE DESC
		        )
		using (spc_no)
		WHERE ROWNUM &lt; 10
  	 </select>
  	
  	<select id="selectSpaceDetail" parameterType="_int" resultMap="spaceInfoResultSet">
  		select *
		  from space_info
		 where spc_no = #{spcNo}
		   and spc_status = 'Y'
  	</select>
  	
  	<select id="selectSpaceImages" parameterType="_int" resultMap="spaceImageSet">
  		select spc_no
		     , img_no
		     , img_ogimg
		     , img_chimg
		from spc_images
		join space_info using(spc_no)
		where spc_no = #{spcNo}
		and spc_status = 'Y'
  	</select>

</mapper>