<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="guestspaceMapper">

	<resultMap id="spaceInfoResultSet" type="SpaceInfo">
  		<id column="SPC_NO" property="spcNo" />
  		<result column="SPC_NAME" property="spcName" />
  		<result column="SPC_INT" property="spcInt" />
  		<result column="SPC_LONG" property="spcLong" />
  		<result column="SPC_TAG" property="spcTag" />
  		<result column="SPC_TYPE" property="spcType" />
  		<result column="SPC_MIN" property="spcMin" />
  		<result column="SPC_MAX" property="spcMax" />
  		<result column="SPC_IMG" property="spcImg" />
  		<result column="SPC_CHIMG" property="spcChimg" />
  		<result column="SPC_PRICE" property="spcPrice" />
  		<result column="SPC_HOURS" property="spcHours" />
  		<result column="SPC_HOLIDAY" property="spcHoliday" />
  		<result column="SPC_STATUS" property="spcStatus" />
  		<result column="SPC_CONVN" property="spcConvn" />
  		<result column="USER_ID" property="userId" />
  		<result column="MAP_LATITUDE" property="latitude" />
  		<result column="MAP_LONGITUDE" property="longitude" />
  		<result column="MAP_LOCATION" property="location" />
  		<result column="REVIEWS" property="reviews" />
  		<result column="WISHES" property="wishes" />
  		<result column="REVIEW_CONTENT" property="reviewCon" jdbcType="CLOB" javaType="java.lang.String" />
  		<result column="REVIEW_SCORE" property="reviewScore" />
  		<result column="REVIEW_DATE" property="reviewDate" />
  		
  	</resultMap>
  	
  	<resultMap id="memberInfo" type="Member">
  		<id column="user_id" property="userId" />
  		<result column="user_type" property="userType" />
  		<result column="user_pwd" property="userPwd" />
  		<result column="user_nickname" property="userNickname" />
  		<result column="user_email" property="userEmail" />
  		<result column="user_phone" property="userPhone" />
  		<result column="user_profile" property="userProfile" />
  		<result column="user_profile_c" property="userProfileC" />
  		<result column="profile_path" property="profilePath" />
  		<result column="user_status" property="userStatus" />
  		<result column="enroll_date" property="enrollDate" />
  		<result column="modify_date" property="modifyDate" />
  		<result column="withdrawal_date" property="withdrawalDate" />
  		<result column="user_memo" property="userMemo" />
  	</resultMap>
  	
  	<resultMap id="reviewsSet" type="Reviews">
  		<id column="REVIEW_NO" property="reviewNo" />
  		<result column="SPC_NO" property="spcNo" />
  		<result column="REVIEW_WRITER" property="reviewWriter" />
  		<result column="REVIEW_TITLE" property="reviewTitle" />
  		<result column="REVIEW_CONTENT" property="reviewCon" jdbcType="CLOB" javaType="java.lang.String"  />
  		<result column="REVIEW_SCORE" property="reviewScore" />
  		<result column="REVIEW_DATE" property="reviewDate" />
  		<result column="REVIEW_STATUS" property="reviewStatus" />
  		<result column="REVIEW_REPLY" property="reviewReply" />
  		<result column="USER_NICKNAME" property="userNickname" />
  		<result column="USER_PROFILE_C" property="userProfileCh" />
  		<result column="PROFILE_PATH" property="profilePath" />
  	</resultMap>
  	
  	<resultMap id="spaceImageSet" type="SpaceImages">
  		<id column="IMG_NO" property="imgNo" />
  		<result column="IMG_OGIMG" property="imgOgimg" />
  		<result column="IMG_CHIMG" property="imgChimg" />
  		<result column="SPC_NO" property="spcNo" />
  	</resultMap>
  	
	<resultMap id="spaceNoteSet" type="SpaceNotes">
  		<id column="NOTES_NO" property="notesNo" />
  		<result column="NOTES_CONTENT" property="notesContent" />
  		<result column="SPC_NO" property="spcNo" />
  	</resultMap>
  	
  	<resultMap id="qnaSet" type="Qna">
  	  	<id column="QA_NO" property="qaNo" />
  		<result column="QA_CONTENT" property="qaContent" jdbcType="CLOB" javaType="java.lang.String" />
  		<result column="QA_WRITER" property="qaWriter" />
  		<result column="QA_DATE" property="qaDate" />
  		<result column="QA_ANSWER" property="qaAnswer" />
  		<result column="QA_ANSWERDATE" property="qaAnswerDate" />
  		<result column="QA_STATUS" property="qaStatus" />
  		<result column="QA_SECRET" property="qaSecret" />
  		<result column="USER_ID" property="userId" />
  		<result column="SPC_NO" property="spaceNo" />
  	</resultMap>
  	
  	
  	<!-- 투데이베스트 -->
  	 <select id="selectTodaySpace" resultMap="spaceInfoResultSet"> 
  	 	select *
		  from (
		        SELECT * 
		          FROM (
		                SELECT 
		                        SPC_NO
		                     , SPC_NAME
		                     , MAP_LOCATION
		                     , SPC_CHIMG
		                     , SPC_TAG
		                     , SPC_PRICE
		                     , COUNT(REVIEW_NO) REVIEWS
		                  FROM SPACE_INFO
		                  full OUTER JOIN REVIEW USING (SPC_NO)
		                  WHERE SPC_STATUS = 'Y'
		                  GROUP BY SPC_NO, SPC_NAME, MAP_LOCATION, SPC_TAG, SPC_PRICE, SPC_CHIMG
		                )
		          JOIN (   
		                SELECT SPC_NO, COUNT (*) WISHES
		                FROM WISH 
		                GROUP BY SPC_NO
		                ) 
		         USING (SPC_NO)
		         ORDER 
		            BY reviews desc, wishes desc
		        )
		where rownum &lt; 4
  	 
  	 </select>
  	 
  	 <!-- 오늘의 후기(장소 중복...다시 생각해보기) -->
  	 <select id="selectUserReview" resultMap="spaceInfoResultSet">
  	 	select *
		  from
		        (
		        SELECT 
		               SPC_NO
		             , SPC_NAME
		             , MAP_LOCATION
		             , SPC_CHIMG
		             , SPC_TAG
		             , SPC_PRICE
		          FROM SPACE_INFO
		        )
	   FULL outer
		     join 
		        (
		        SELECT SUBSTR(REVIEW_CONTENT, 0, 31)AS REVIEW_CONTENT
		             , REVIEW_SCORE
		             , REVIEW_DATE
		             , SPC_NO
		          FROM REVIEW
		         WHERE REVIEW_SCORE &gt; 3
		         ORDER BY REVIEW_DATE DESC, REVIEW_SCORE DESC
		        )
		using (spc_no)
		WHERE ROWNUM &lt; 10
  	 </select>
  	
  	<!-- 호스트의 홈피 -->
  	<select id="selectHostInfoForHomep" parameterType="string" resultMap="memberInfo">
  		select user_nickname
		     , USER_PROFILE_C
		     , PROFILE_PATH
		  from member
		 where user_status = 'Y'
		   and user_id = #{userId}
  	</select>
  	
  	<select id="selectHostSpacesForHomep" parameterType="string" resultMap="spaceInfoResultSet" >
  		select *
		  from
		        (
		         select spc_no 
		             , spc_name
		             , spc_tag
		             , spc_type
		             , spc_chimg
		             , spc_price
		             , COUNT(REVIEW_NO) REVIEWS
		          from space_info
		          full
		         outer 
		          join review using(spc_no)
		         where user_id = #{userId}
		           and spc_status = 'Y' 
		         group 
		            by spc_name, spc_tag, spc_type, spc_chimg, spc_price, spc_no
		        )
		  join (
		        select * 
		          from
		                (
		                 select spc_no
		                   from space_info
		                  where user_id = #{userId}
		                 )
		            left 
		            outer 
		            join
		                (
		                 select spc_no, 
		                        count(spc_no) as wishes
		                    from wish
		                   group 
		                      by spc_no
		            ) 
		            using (spc_no)
		        )
		  using(spc_no)
  	</select>
  	
  	<select id="selectCountReviewForHomep" parameterType="string" resultType="_int" >
  		select count(*)
		  from (
		        select *
		          from (
		                select review_writer
		                     , USER_NICKNAME
		                     , USER_PROFILE_C
		                     , PROFILE_PATH
		                     , spc_no
		                     , review_content
		                     , review_score
		                     , review_date
		                     , review_reply
		                  from review
		                  join member on (review_writer = user_id)
		                 where review_status = 'Y'
		             )
		         right
		          join 
		              (
		                select spc_no
		                  from space_info
		                 where user_id = #{userId}
		              )
		          using (spc_no)
		          order
		             by review_date desc
		    )
  	</select>
  	
  	<select id="selectReviewsForHomep" parameterType="string" resultMap="reviewsSet" >
  		   select *
		          from (
		                select review_no
		                     , review_writer
		                     , USER_NICKNAME
		                     , USER_PROFILE_C
		                     , PROFILE_PATH
		                     , spc_no
		                     , review_content
		                     , review_score
		                     , review_date
		                     , review_reply
		                  from review
		                  join member on (review_writer = user_id)
		                 where review_status = 'Y'
		             )
		         right
		          join 
		              (
		                select spc_no
		                  from space_info
		                 where user_id = #{userId}
		              )
		          using (spc_no)
		          order
		             by review_date desc
  	</select>
  	
  	
  	<!-- 세부공간보기 -->
  	<select id="selectSpaceDetail" parameterType="_int" resultMap="spaceInfoResultSet">
  		select *
		  from space_info
		 where spc_no = #{spcNo}
		   and spc_status = 'Y'
  	</select>
  	
  	<select id="selectSpaceImages" parameterType="_int" resultMap="spaceImageSet">
  		select spc_no
		     , img_no
		     , img_ogimg
		     , img_chimg
		from spc_images
		join space_info using(spc_no)
		where spc_no = #{spcNo}
		and spc_status = 'Y'
  	</select>
  	
  	<select id="selectSpaceNotes" parameterType="_int" resultMap="spaceNoteSet">
  		select *
		  from spc_notes
		 where spc_no = #{spcNo}
  	</select>
  	
  	<select id="selectWhoIsHost" parameterType="_int" resultMap="memberInfo">
  		select distinct user_nickname
		     , user_profile_c
		     , profile_path
		  from member
		  join space_info using (user_id)
		 where user_id = (select user_id
		                    from space_info
		                   where spc_no = #{spcNo})
  	</select>
  	
  	<!-- 질문하기기능 -->
  	<insert id="insertQuestion" parameterType="Qna">
	  insert into QUESTION_ANSWER
	       ( QA_NO
	       , QA_CONTENT
	       , QA_WRITER
	       , QA_SECRET
	       , USER_ID
	       , SPC_NO
	       )
	       values
	       ( SEQ_QA.nextval
	       , #{qaContent}
	       , #{qaWriter}
	       , #{qaSecret}
	       , #{userId}
	       , #{spaceNo}
	       )
  	</insert>
  		
  	<insert id="insertReport" parameterType="Report">
  		insert into REPORT
		       ( REPORT_NO
		       <if test="spcNo != 0">
		       , SPC_NO
		       </if>
		       <if test="reviewNo != 0">
		       , REVIEW_NO
		       </if>
		       , REPORT_TYPE1
		       , REPORT_TYPE2
		       , REPORT_WRITER
		       , REPORT_TARGET
		       , REPORT_CONTENT
		       )
		       VALUES
		       ( SEQ_REPORT.NEXTVAL
		       <if test="spcNo != 0">
		       , #{spcNo}
		       </if>
		       <if test="reviewNo != 0">
		       , #{reviewNo}
		       </if>
		       , #{reportType1}
		       , #{reportType2}
		       , #{reportWriter}
		       , #{reportTarget}
		       , #{reportContent}
		       )
  	</insert>
  	
  	<select id="selectReviewListCount" parameterType="_int" resultType="_int" >
  		select count(*) as listCount
		  from review
		 where spc_no = #{spcNo}
		   and review_status = 'Y'
  	</select>
  	
  	<select id="selectUserReviewDetail" parameterType="_int" resultMap="reviewsSet">
		select review_no
		     , spc_no
		     , review_writer
		     , review_title
		     , review_content
		     , review_score
		     , review_date
		     , review_reply
		     , user_nickname
		     , user_profile_c
		     , profile_path
		  from review
		  join member on (review_writer = user_id)
		 where spc_no = #{spcNo}
		   and review_status = 'Y'
		 order
		    by review_no desc
  	</select>
  	
  	<select id="selectQnaListCount" parameterType="_int" resultType="_int">
  		select count(*) as qnas
		  from question_answer
		 where spc_no = #{spcNo}
		   and qa_status = 'Y'
		   and qa_secret = 'Y'
  	</select>
  	
  	<select id="selectQnaDetail" parameterType="_int" resultMap="qnaSet">
	  	select *
		  from question_answer
		 where spc_no = #{spcNo}
		   and qa_status = 'Y'
		   and qa_secret = 'Y'
		 order
		    by qa_no desc
  	</select>
  	
  	<insert id="insertLike" parameterType="Wish">
  		insert into WISH
		       ( 
		       	 USER_ID
		       , SPC_NO
		       )
		       VALUES
		       ( 
		         #{userId}
		       , #{spcNo} 
		       )
  	</insert>
  	
  	<delete id="deleteLike" parameterType="Wish">
  		DELETE FROM WISH
		WHERE USER_ID = #{userId}
		  AND SPC_NO = #{spcNo} 
  	</delete>
  	
  	<select id="checkLike" parameterType="Wish" resultType="_int">
	  	SELECT COUNT(*)
		  FROM WISH
		WHERE USER_ID = #{userId}
		  AND SPC_NO = #{spcNo} 
  	</select>

</mapper>