<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mypageMapper">
	
	<resultMap id="reservationSet" type="Reservation">
		<id column="reservation_no" property="reservNo"/>
		<result column="user_id" property="userId"/>
		<result column="spc_no" property="spcNo"/>
		<result column="user_id_h" property="userIdHost"/>
		<result column="reservation_date" property="reservDate"/>
		<result column="reservation_name" property="reservName"/>
		<result column="total_time" property="totalTime"/>
		<result column="reservation_total" property="reservTotal"/>
		<result column="purpose_type" property="perpose"/>
		<result column="amount_time" property="amountTime"/>
		<result column="use_date" property="useDate"/>
		<result column="use_time" property="useTime"/>
		<result column="end_date" property="endDate"/>
		<result column="end_time" property="endTime"/>
		<result column="pay_date" property="payDate"/>
		<result column="pay_sum" property="paySum"/>
		<result column="refund" property="refund"/>
		<result column="pay_method" property="payMethod"/>
		<result column="reservation_status" property="reservStatus"/>
		<result column="spc_no" property="ReSpcNo"/>
		<result column="spc_name" property="ReSpcName"/>
		<result column="spc_type" property="ReSpcType"/>
		<result column="spc_img" property="ReSpcImg"/>
		<result column="spc_chimg" property="ReSpcChimg"/>
		<result column="spc_price" property="ReSpcPrice"/>
		<result column="map_location" property="location"/>
		<result column="BUSINESS_NO" property="HoNo"/>
		<result column="BUSINESS_NAME" property="HoName"/>
		<result column="BUSINESS_PHONE" property="HoPhone"/>
		<result column="BUSINESS_EMAIL" property="HoEmail"/>
		<result column="BUSINESS_LOC" property="HoLoc"/>
	</resultMap>
	
	<resultMap id="reportSet" type="reservReport">
		<id column="report_no" property="reportNo" />
		<result column="spc_no" property="spcNo" />
		<result column="review_no" property="reviewNo" />
		<result column="report_type1" property="reportType1" />
		<result column="report_type2" property="reportType2" />
		<result column="report_writer" property="reportWriter" />
		<result column="report_target" property="reportTarget" />
		<result column="report_content" property="reportContent" />
		<result column="report_date" property="reportDate" />
		<result column="report_status" property="reportStatus" />
	</resultMap>
	
	
	<resultMap id="myReviewSet" type="myReview">
  		<id column="REVIEW_NO" property="reviewNo" />
  		<result column="SPC_NO" property="spcNo" />
  		<result column="REVIEW_WRITER" property="reviewWriter" />
  		<result column="REVIEW_TITLE" property="reviewTitle" />
  		<result column="REVIEW_CONTENT" property="reviewCon" jdbcType="CLOB" javaType="java.lang.String"  />
  		<result column="REVIEW_SCORE" property="reviewScore" />
  		<result column="REVIEW_DATE" property="reviewDate" />
  		<result column="REVIEW_STATUS" property="reviewStatus" />
  		<result column="REVIEW_REPLY" property="reviewReply" />
  		<result column="USER_NICKNAME" property="userNickname" />
  		<result column="USER_PROFILE_C" property="userProfileCh" />
  		<result column="PROFILE_PATH" property="profilePath" />
  	</resultMap>
	
	<!-- 로그인한 유저의 예약총게시물 갯수 -->
	<select id="selectReservListCount" parameterType="string" resultType="_int">
		select
		       count(*)
		  from reservation
		 where user_id=#{userId}
	</select>
	
	<!-- 예약리스트 -->
	<select id="selectReservList" resultMap="reservationSet">
		select
		        r.reservation_no
		      , r.user_id
		      , to_char(r.reservation_date, 'YYYY-MM-DD') reservation_date
		      , r.total_time
		      , r.reservation_total
		      , r.reservation_status
		      , r.use_time
		      , r.end_time
		      , r.pay_sum
		      , spc_no
		      , spc_name
		      , spc_type
		      , spc_img
		      , spc_chimg
		      , spc_price
		      , substr(map_location, 0, 7) as map_location
		  from reservation r
		  join space_info using(spc_no)
        where r.user_id=#{userId}
	</select>
	
	<!-- 예약번호로 정렬한 예약리스트  -->
	<select id="alignReservList"  resultMap="reservationSet">
		select
	        r.reservation_no
	      , r.user_id
	      , to_char(r.reservation_date, 'YYYY-MM-DD') reservation_date
	      , r.total_time
	      , r.reservation_total
	      , r.reservation_status
	      , r.use_time
	      , r.end_time
	      , r.pay_sum
	      , spc_no
	      , spc_name
	      , spc_type
	      , spc_img
	      , spc_chimg
	      , spc_price
	      , substr(map_location, 0, 6) as map_location
	  from reservation r
	  join space_info using(spc_no)
     where r.user_id=#{userId}
     order by
       	<choose>
			<when test="align eq '이용날짜순'">r.use_date desc</when>
			<otherwise>r.reservation_no desc</otherwise>
		</choose>
	</select>
	
	<!-- 예약상세조회 -->
	<select id="selectDetailReserv" resultMap="reservationSet">
		select
		        r.reservation_no
		      , r.user_id_h
		      , r.reservation_total
		      , r.reservation_date
		      , r.reservation_status
		      , r.total_time
		      , r.use_date
		      , r.use_time
		      , r.end_date
		      , r.end_time
		      , r.purpose_type
		      , r.pay_method
		      , r.pay_date
		      , r.pay_sum
		      , r.user_id
		      , sp.spc_no
		      , sp.spc_name
		      , sp.spc_type
		      , sp.spc_price
		      , sp.map_location
		      , h.business_no
		      , h.business_name
		      , h.business_phone
		      , h.business_email
		      , h.business_loc
	  from reservation r
	  join space_info sp on(r.spc_no=sp.spc_no)
	  join host_info h on(sp.user_id=h.user_id)
	 where r.user_id = #{userId}
	   and r.reservation_no = #{reservNo}
	</select>
	
	<update id="deleteReserv" parameterType="_int">
		update
		        reservation
		    set reservation_status='취소환불'
		 where reservation_no=#{reservNo}
		   and reservation_status like '%예약확정%'
	</update>
	
	<insert id="reportReserv" parameterType="Report">
		insert
		  into report
		  (
		     report_no
		   , report_type1
		   , report_type2
		   , report_writer
		   , report_target
		   , report_content
		   , report_date
		  )
		  values
		  (
		    seq_report.nextval
		  , #{reportType1}
		  , #{reportType2}
		  , #{reportWriter}
		  , #{reportTarget}
		  , #{reportContent}
		  , sysdate
		  )
	</insert>
	
	<select id="selectMyReviewListCount" parameterType="string" resultType="_int">
		 select
		       count(*)
		  from review rv
		  join reservation r on(rv.spc_no=r.spc_no)
		 where review_writer=#{userId}
		   and reservation_status like '%이용완료%
	</select>
	
	
	<select id="selectMyReviewList" resultMap="myReviewSet">
		select
		       r.reservation_no
		     , r.use_date
		     , rv.review_writer
		     , rv.review_title
		     , rv.review_content
		     , rv.review_date
		     , rv.review_status
		     , rv.review_reply
		     , sp.spc_name
		     , sp.spc_type
		     , substr(sp.map_location, 0, 7) as location
		  from review rv
		  join space_info sp on(sp.spc_no=rv.spc_no)
		full outer  
		      join reservation r on(sp.spc_no=r.spc_no)
		 where review_writer=#{userId}
		   and review_status='Y'
		   and reservation_no=#{reservNo}
		 order 
		    by r.use_date desc
	</select>






</mapper>


















