<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="reservationMapper">
  <resultMap id="reservationResultSet" type="Reservationad">
  	<id column="reservation_no" property="reNo"/>
  	<result column="user_id" property="reGuest"/>
  	<result column="user_id_h" property="reHost"/>
  	<result column="spc_no" property="spcNo"/>
  	<result column="reservation_date" property="reDate"/>
  	<result column="reservation_name" property="reName"/>
  	<result column="t_time" property="totalTime"/>
  	<result column="reservation_total" property="reTotal"/>
  	<result column="purpose_type" property="purType"/>
  	<result column="use_date" property="startDate"/>
  	<result column="use_time" property="startTime"/>
  	<result column="end_date" property="endDate"/>
  	<result column="end_time" property="endTime"/>
  	<result column="pay_date" property="payDate"/>
  	<result column="pay_sum" property="paySum"/>
  	<result column="refund" property="refund"/>
  	<result column="pay_method" property="payMethod"/>
  	<result column="spc_name" property="spcName"/>
  	<result column="reservation_status" property="reStatus"/>
  </resultMap>
  <select id="selectListCount"
          resultType="_int">
  		select
  		       count(*)
  		  from reservation 
  		 <choose>
  		 	
  		 	<when test="head == '예약확정'">
		  		 where reservation_status= '예약확정'  
  		 	</when>
  		 	<when test="head == '결제대기'">
		  		 where reservation_status= '결제대기'  
  		 	</when>
  		 	<when test="head == '취소환불'">
		  		 where reservation_status= '취소환불'  
  		 	</when>
  		 	<when test="head == '이용완료'">
		  		 where reservation_status= '이용완료'  
  		 	</when>
  		 </choose>
  </select>
  <select id="selectList"
          resultMap="reservationResultSet">
  	select
  	       reservation_no
  	     , user_id
  	     , spc_no
  	     , user_id_h
  	     , to_char(r.reservation_date, 'YYYY/MM/DD') reservation_date
  	     , reservation_name
  	     , reservation_total
  	     , purpose_type
  	     , use_date
  	     , use_time
  	     , end_date
  	     , end_time
  	     , to_char(r.pay_date, 'YYYY/MM/DD') pay_date
  	     , pay_sum
  	     , refund
  	     , pay_method
  	     , reservation_status
  	  from reservation r
  	  <choose>
  		 	<when test="head == '예약확정'">
		  		 where reservation_status= '예약확정'  
  		 	</when>
  		 	<when test="head == '결제대기'">
		  		 where reservation_status= '결제대기'  
  		 	</when>
  		 	<when test="head == '취소환불'">
		  		 where reservation_status= '취소환불'  
  		 	</when>
  		 	<when test="head == '이용완료'">
		  		 where reservation_status= '이용완료'  
  		 	</when>
  		 </choose>         
  	 order
  	    by reservation_no desc 
  </select>
  
  <select id="searchListCount"
          resultType="_int">
  
  	select
  	       count(*)
  	  from reservation
  	
  	 <choose>
  	 	<when test="sc.guest != null">
  	 		where user_id = #{sc.guest}
  	 		<choose>  		 	
	  		 	<when test="head == '예약확정'">
			  		 and reservation_status= '예약확정'  
	  		 	</when>
	  		 	<when test="head == '결제대기'">
			  		 and reservation_status= '결제대기'  
	  		 	</when>
	  		 	<when test="head == '취소환불'">
			  		 and reservation_status= '취소환불'  
	  		 	</when>
	  		 	<when test="head == '이용완료'">
			  		 and reservation_status= '이용완료'  
	  		 	</when>
  		 	</choose>
  	 	</when>
  	 	<when test="sc.host != null">
  	 		where user_id_h = #{sc.host}
  	 		<choose>  		 	
	  		 	<when test="head == '예약확정'">
			  		 and reservation_status= '예약확정'  
	  		 	</when>
	  		 	<when test="head == '결제대기'">
			  		 and reservation_status= '결제대기'  
	  		 	</when>
	  		 	<when test="head == '취소환불'">
			  		 and reservation_status= '취소환불'  
	  		 	</when>
	  		 	<when test="head == '이용완료'">
			  		 and reservation_status= '이용완료'  
	  		 	</when>
  		 	</choose>
  	 	</when>
  	 	<when test="sc.reNo != null">
  	 		where reservation_no = #{sc.reNo}
  	 		<choose>  		 	
	  		 	<when test="head == '예약확정'">
			  		 and reservation_status= '예약확정'  
	  		 	</when>
	  		 	<when test="head == '결제대기'">
			  		 and reservation_status= '결제대기'  
	  		 	</when>
	  		 	<when test="head == '취소환불'">
			  		 and reservation_status= '취소환불'  
	  		 	</when>
	  		 	<when test="head == '이용완료'">
			  		 and reservation_status= '이용완료'  
	  		 	</when>
  		 	</choose>
  	 	</when>
  	 </choose> 	       
  </select>
  <select id="searchList"
          resultMap="reservationResultSet">
  	
  	select
  	       reservation_no
  	     , user_id
  	     , spc_no
  	     , user_id_h
  	     , to_char(r.reservation_date, 'YYYY/MM/DD') reservation_date
  	     , reservation_name
  	     , reservation_total
  	     , purpose_type
  	     , use_date
  	     , use_time
  	     , end_date
  	     , end_time
  	     , to_char(pay_date, 'YYYY/MM/DD') pay_date
  	     , pay_sum
  	     , refund
  	     , pay_method
  	     , reservation_status 
  	  from reservation r         
  	
  	 <choose>
  	 	<when test="sc.guest != null">
  	 		where user_id = #{sc.guest}
  	 		<choose>  		 	
	  		 	<when test="head == '예약확정'">
			  		 and reservation_status= '예약확정'  
	  		 	</when>
	  		 	<when test="head == '결제대기'">
			  		 and reservation_status= '결제대기'  
	  		 	</when>
	  		 	<when test="head == '취소환불'">
			  		 and reservation_status= '취소환불'  
	  		 	</when>
	  		 	<when test="head == '이용완료'">
			  		 and reservation_status= '이용완료'  
	  		 	</when>
  		 	</choose>
  	 	</when>
  	 	<when test="sc.host != null">
  	 		where user_id_h = #{sc.host}
  	 		<choose>  		 	
	  		 	<when test="head == '예약확정'">
			  		 and reservation_status= '예약확정'  
	  		 	</when>
	  		 	<when test="head == '결제대기'">
			  		 and reservation_status= '결제대기'  
	  		 	</when>
	  		 	<when test="head == '취소환불'">
			  		 and reservation_status= '취소환불'  
	  		 	</when>
	  		 	<when test="head == '이용완료'">
			  		 and reservation_status= '이용완료'  
	  		 	</when>
  		 	</choose>
  	 	</when>
  	 	<when test="sc.reNo != null">
  	 		where reservation_no = #{sc.reNo}
  	 		<choose>  		 	
	  		 	<when test="head == '예약확정'">
			  		 and reservation_status= '예약확정'  
	  		 	</when>
	  		 	<when test="head == '결제대기'">
			  		 and reservation_status= '결제대기'  
	  		 	</when>
	  		 	<when test="head == '취소환불'">
			  		 and reservation_status= '취소환불'  
	  		 	</when>
	  		 	<when test="head == '이용완료'">
			  		 and reservation_status= '이용완료'  
	  		 	</when>
  		 	</choose>
  	 	</when>
  	 </choose> 
  	 order
  	    by reservation_no desc  
  	               
  </select>
  
  <select id="detailReservation"
          resultMap="reservationResultSet">
    select
  	       r.reservation_no
  	     , r.user_id
  	     , spc_name
  	     , r.user_id_h
  	     , to_char(r.reservation_date, 'YYYY/MM/DD') reservation_date
  	     , r.reservation_name
  	     , r.reservation_total
  	     , r.purpose_type
  	     , r.use_date
  	     , r.use_time
  	     , r.end_date
  	     , r.end_time
  	     , to_char(r.pay_date, 'YYYY/MM/DD') pay_date
  	     , r.pay_sum
  	     , r.refund
  	     , r.pay_method
  	     , r.reservation_status
  	     , round ((to_date(r.end_date || r.end_time, 'YYYY.MM.DD hh24:mi') - to_date(r.use_date || r.use_time, 'YYYY.MM.DD hh24:mi'))*24) t_time
  	  from reservation r
  	  join space_info using(spc_no)      
  	 where reservation_no = #{rno}	
  </select>
  <update id="deleteReservation">
  	update
  	       reservation
  	   set reservation_status = '취소환불'
  	 where reservation_no = #{rno}      
  
  </update>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
          
</mapper>
