<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="reportMapper">

	<resultMap id="reportResultSet" type="Report">
		<id column="report_no" property="reportNo" />
		<result column="spc_no" property="spcNo" />
		<result column="review_no" property="reviewNo" />
		<result column="report_type1" property="reportType1" />
		<result column="report_type2" property="reportType2" />
		<result column="report_writer" property="reportWriter" />
		<result column="report_target" property="reportTarget" />
		<result column="report_content" property="reportContent" />
		<result column="report_date" property="reportDate" />
		<result column="report_status" property="reportStatus" />
	</resultMap>
	
	<!-- 총 신고갯수 조회 -->
	<select id="selectListCount" resultType="_int">
		select
		       count(*)
		  from report
	</select>
	
	<!-- 신고리스트 조회 -->
	<select id="selectList" parameterType="String" resultMap="reportResultSet">
		select
		       report_no
		     , spc_no
		     , review_no
		     , report_type1
		     , report_type2
		     , report_writer
		     , report_target
		     , report_content
		     , report_date
		     , report_status
		  from report
		 order by decode(report_status, #{reportStatus}, 1), report_date desc
	</select>
	
	<!-- 신고내역 상세조회 -->
	<select id="selectReportDetail" parameterType="_int" resultMap="reportResultSet">
		select
		       report_no
		     , spc_no
		     , review_no
		     , report_type1
		     , report_type2
		     , report_writer
		     , report_target
		     , report_content
		     , report_date
		     , report_status
		  from report
		 where report_no = #{reportNo}
	</select>
	
	<!-- 신고상태 변경 -->
	<select id="updateReportStatus" parameterType="Report" resultMap="reportResultSet">
		update
		       report
		   set report_status = #{reportStatus}
		 where report_no = #{reportNo}
	</select>
</mapper>
