<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hostSpaceMapper">
  <insert id="insertSpace" parameterType="Space">
  	INSERT 
	  INTO   SPACE_INFO (
	         SPC_NO
	       , SPC_NAME
	       , SPC_INT
	       , SPC_LONG
	       , SPC_TAG
	       , SPC_TYPE
	       , SPC_MIN
	       , SPC_MAX
	       , SPC_IMG
	       , SPC_CHIMG
	       , SPC_PRICE
	       , SPC_HOURS
	       , SPC_HOLIDAY
	       , SPC_STATUS
	       , SPC_CONVN
	       , USER_ID
	       , MAP_LATITUDE
	       , MAP_LONGITUDE
	       , MAP_LOCATION
	       ) 
	VALUES (
	         seq_space.nextval
	    	,#{spcName}
			,#{spcInt}
			,#{spcLong}
			,#{spcTag}
			,#{spcType}
			,#{spcMin}
			,#{spcMax}
			,#{spcImg}
			,#{spcChimg}
			,#{spcPrice}
			,#{spcHours}
			,#{spcHoliday}
			,'Y'
			,#{spcConvn}
			,#{userId}
			,#{latitude}
			,#{longitude}
			,#{location}
	       )
  </insert>
  <insert id="insertImages" parameterType="java.util.ArrayList">
  	insert
	  into spc_images(
	       img_no
	      ,img_ogimg
	      ,img_chimg
	      ,spc_no
	     )
	values(
	        seq_images.nextval,
	         <foreach collection="list" item="item" >
			 #{item.imgOgImg},
			 #{item.imgChImg},
			</foreach>
	         seq_space.currval
	        )
  </insert>
  <update id="insertNotes" parameterType="java.util.ArrayList">
  <foreach collection="list" item="item" separator="" open="INSERT ALL" close="SELECT * FROM DUAL">
	  into spc_notes(
	       notes_no
	      ,notes_content
	      ,spc_no
	      )
	values
	         (seq_notes.nextval,
			 #{item.notesContent},
	         seq_space.currval)
	</foreach>
	        
  </update>
</mapper>
