<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hostSpaceMapper">
  <insert id="insertSpace" parameterType="Space">
  	INSERT 
	  INTO   SPACE_INFO (
	         SPC_NO
	       , SPC_NAME
	       , SPC_INT
	       , SPC_LONG
	       , SPC_TAG
	       , SPC_TYPE
	       , SPC_MIN
	       , SPC_MAX
	       , SPC_IMG
	       , SPC_CHIMG
	       , SPC_PRICE
	       , SPC_HOURS
	       , SPC_HOLIDAY
	       , SPC_STATUS
	       , SPC_CONVN
	       , USER_ID
	       , MAP_LATITUDE
	       , MAP_LONGITUDE
	       , MAP_LOCATION
	       ) 
	VALUES (
	         seq_space.nextval
	    	,#{spcName}
			,#{spcInt}
			,#{spcLong}
			,#{spcTag}
			,#{spcType}
			,#{spcMin}
			,#{spcMax}
			,#{spcImg}
			,#{spcChimg}
			,#{spcPrice}
			,#{spcHours}
			,#{spcHoliday}
			,'Y'
			,#{spcConvn}
			,#{userId}
			,#{latitude}
			,#{longitude}
			,#{location}
	       )
  </insert>
  <insert id="insertImages" parameterType="java.util.ArrayList">
  	insert
	  into spc_images(
	       img_no
	      ,img_ogimg
	      ,img_chimg
	      ,spc_no
	     )
	values(
	        seq_images.nextval,
			 #{imgOgImg},
			 #{imgChImg},
	         seq_space.currval
	        )
  </insert>
 <insert id="insertNotes" parameterType="spcNotes">
	insert
	  into spc_notes(
	       notes_no
	      ,notes_content
	      ,spc_no
	      )
	values
         (
          seq_notes.nextval
         ,#{notesContent}
         ,seq_space.currval
         )
  </insert> 
  
  <update id="updateSpace" parameterType="Space">
    update SPACE_INFO
	   set  
           SPC_INT = #{spcInt}
         , SPC_LONG = #{spcLong}
         , SPC_TAG = #{spcTag}
         , SPC_TYPE = #{spcType}
         , SPC_MIN = #{spcMin}
         , SPC_MAX = #{spcMax}
         , SPC_IMG = #{spcImg}
         , SPC_CHIMG = #{spcChimg}
         , SPC_PRICE = #{spcPrice}
         , SPC_HOURS = #{spcHours}
         , SPC_HOLIDAY = #{spcHoliday}
         , SPC_CONVN = #{spcConvn}
         , MAP_LATITUDE = #{latitude}
	     , MAP_LONGITUDE = #{longitude}
	     , MAP_LOCATION = #{location}
     where user_id = #{userId} 
       and SPC_NAME = #{spcName}
  </update>
  
  <update id="updateNotes" parameterType="spcNotes">
  MERGE INTO spc_notes note
  USING space_info a
     ON (a.spc_no = note.spc_no)
   WHEN MATCHED THEN
 UPDATE SET note.notes_content = #{notesContent}
  where a.user_id = #{userId}  
  </update>
  

</mapper>
