<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hostMapper">
	<resultMap id="hostInfoResultSet" type="HostInfo">
		<result column="user_id" property="userId" />
		<result column="business_no" property="businessNo" />
		<result column="business_name" property="businessName" />
		<result column="business_license" property="businessLicense" />
		<result column="license_path" property="licensePath" />
		<result column="business_loc" property="businessLoc" />
		<result column="business_acc" property="businessAcc" />
		<result column="business_phone" property="businessPhone" />
		<result column="business_email" property="businessEmail" />
		<result column="host_status" property="hostStatus" />
	</resultMap>
	<resultMap id="spaceResultSet" type="Space">
		<result column="spc_no" property="spcNo" />
		<result column="spc_name" property="spcName" />
		<result column="spc_int" property="spcInt" />
		<result column="spc_long" property="spcLong" />
		<result column="spc_tag" property="spcTag" />
		<result column="spc_type" property="spcType" />
		<result column="spc_min" property="spcMin" />
		<result column="spc_max" property="spcMax" />
		<result column="spc_img" property="spcImg" />
		<result column="spc_chimg" property="spcChimg" />
		<result column="spc_price" property="spcPrice" />
		<result column="spc_hours" property="spcHours" />
		<result column="spc_holiday" property="spcHoliday" />
		<result column="spc_status" property="spcStatus" />
		<result column="spc_convn" property="spcConvn" />
		<result column="user_id" property="userId" />
		<result column="map_latitude" property="latitude" />
		<result column="map_longitude" property="longitude" />
		<result column="map_location" property="location" />
		<result column="reviews" property="reviews" />
  		<result column="wishes" property="wishes" />
	</resultMap>
	 <resultMap id="selectCalResultSet" type="calculation">
	 	<result column="reservation_no" property="reservNo"/>
	 	<result column="spc_no" property="spcNo"/>
	 	<result column="user_id" property="userId"/>
	 	<result column="spc_name" property="spcName"/>
	 	<result column="pay_sum" property="reservDate"/>
	 	<result column="pay_date" property="payDate"/>
	 	<result column="pay_sum" property="paySum"/>
	 	<result column="reservation_status" property="reservStatus"/>
	 	<result column="user_id_h" property="userId"/>
	 </resultMap>
	<resultMap id="selectQnaListResultSet" type="hostQna">
		<result column="qa_no" property="qaNo" />
		<result column="qa_content"  jdbcType="CLOB" javaType="java.lang.String" property="qaContent" />
		<result column="qa_writer" property="qaWriter" />
		<result column="qa_date" property="qaDate" />
		<result column="qa_answer" property="qaAnswer" />
		<result column="qa_answerdate" property="qaAnswerDate" />
		<result column="qa_status" property="qaStatus" />
		<result column="qa_secret" property="qaSecret" />
		<result column="user_id" property="userId" />
		<result column="spc_no" property="spcNo" />
		<result column="spc_name" property="spcName" />
		<result column="spc_type" property="spcType" />
	</resultMap> 
  	<resultMap id="hostInquiryResultSet" type="hostInquiry">
  		<id column="inquiry_no" property="inquiryNo"/>
  		<result column="user_id" property="inquiryWriter"/>
  		<result column="inquiry_title" property="inquiryTitle"/>
  		<result column="inquiry_content" property="inquiryContent"/>
  		<result column="inquiry_reply" property="inquiryReply"/>
  		<result column="reply_status" property="replyStatus"/>
  		<result column="enroll_date" property="enrollDate"/>
  		<result column="reply_date" property="replyDate"/>
  		<result column="status" property="status"/> 	
  	</resultMap>
  	
  <resultMap id="reservationResultSet" type="Reservation">
  	<id column="reservation_no" property="reservNo"/>
  	<result column="user_id" property="userId"/>
  	<result column="user_id_h" property="userIdHost"/>
  	<result column="spc_no" property="spcNo"/>
  	<result column="reservation_date" property="reservDate"/>
  	<result column="reservation_name" property="reservName"/>
  	<result column="t_time" property="totalTime"/>
  	<result column="reservation_total" property="reservTotal"/>
  	<result column="purpose_type" property="perpose"/>
  	<result column="use_date" property="useDate"/>
  	<result column="use_time" property="useTime"/>
  	<result column="end_date" property="endDate"/>
  	<result column="end_time" property="endTime"/>
  	<result column="pay_date" property="payDate"/>
  	<result column="pay_sum" property="paySum"/>
  	<result column="refund" property="refund"/>
  	<result column="pay_method" property="payMethod"/>
  	<result column="spc_name" property="spcName"/>
  	<result column="reservation_status" property="reservStatus"/>
  	<result column="total_time" property="totalTime"/>
  	<result column="spc_name" property="spcName"/>
  </resultMap>
  
  	<resultMap id="myReviewSet" type="myReview">
  		<id column="REVIEW_NO" property="reviewNo" />
  		<result column="SPC_NO" property="spcNo" />
  		<result column="REVIEW_WRITER" property="reviewWriter" />
  		<result column="REVIEW_TITLE" property="reviewTitle" />
  		<result column="REVIEW_CONTENT" property="reviewContent" jdbcType="CLOB" javaType="java.lang.String"  />
  		<result column="REVIEW_SCORE" property="reviewScore" />
  		<result column="REVIEW_DATE" property="reviewDate" />
  		<result column="REVIEW_STATUS" property="reviewStatus" />
  		<result column="REVIEW_REPLY" property="reviewReply" />
  		<result column="USER_NICKNAME" property="userNickname" />
  		<result column="USER_PROFILE_C" property="userProfileCh" />
  		<result column="PROFILE_PATH" property="profilePath" />
  		<result column="reservation_no" property="reservNo"/>
  		<result column="reservation_status" property="reservStatus"/>
  		<result column="use_date" property="useDate"/>
  		<result column="spc_name" property="spcName"/>
  		<result column="spc_type" property="spcType"/>
  		<result column="map_location" property="location"/>
  		<result column="user_id" property="userId"/>
  	</resultMap>
  	
  	
  <insert id="insertHost" parameterType="HostInfo">
	insert
	  into host_info
	  (
	     user_id
	    ,business_no
	    ,business_name
	    ,business_license
	    ,license_path
	    ,business_loc
	    ,business_acc
	    ,business_phone
	    ,business_email
	  )
	 values
	 (
	    #{userId}
	    ,#{businessNo}
	    ,#{businessName}
	    ,#{businessLicense}
	    ,#{licensePath}
	    ,#{businessLoc}
	    ,#{businessAcc}
	    ,#{businessPhone}
	    ,#{businessEmail}
	  )
  
  </insert>
  
  <update id="updateHost" parameterType="HostInfo">
  update 
		       host_info
		   set business_no = #{businessNo}
		     , business_name = #{businessName}
		     , business_license = #{businessLicense}
		     , license_path = #{licensePath}
		     , business_loc = #{businessLoc}
		     , business_acc = #{businessAcc}
             , business_phone = #{businessPhone}
             , business_email = #{businessEmail}
		 where user_id = #{userId}
  
  </update>
  
  
  <select id="selectHost" parameterType="string" resultMap="hostInfoResultSet" >
  	select  
  			user_id 
  		   ,business_no
  		   ,business_name
  		   ,business_license
  		   ,license_path
  		   ,business_loc
  		   ,business_acc
  		   ,business_phone
  		   ,business_email
  		   ,host_status
	      
	  from  host_info
	 where  user_id =  #{userId}
  </select>
  
  
  <select id="selectSpaceList" parameterType="string" resultMap="spaceResultSet">
  	select *
  	  from (	
             select
  		    		spc_no
  		  		  , spc_name 
  		  		  , spc_int
  		  	      , spc_long
  		  	      , spc_tag
  		  	      , spc_type
  		  	      , spc_min
  		  	      , spc_max
  		  	      , spc_img
  		  	      , spc_chimg
  		  	      , spc_price
  		  	      , spc_hours
  		  	      , spc_holiday
  		  	      , spc_status
  		  	      , spc_convn
  		  	      , user_id
  		  	      , map_latitude
  		  	      , map_longitude
  		  	      , map_location
                  , COUNT(REVIEW_NO) REVIEWS
               FROM SPACE_INFO
               JOIN REVIEW USING (SPC_NO)
		      WHERE SPC_STATUS = 'Y'
                and user_id = #{userId}
              group by spc_no
  		  		  , spc_name 
  		  		  , spc_int
  		  	      , spc_long
  		  	      , spc_tag
  		  	      , spc_type
  		  	      , spc_min
  		  	      , spc_max
  		  	      , spc_img
  		  	      , spc_chimg
  		  	      , spc_price
  		  	      , spc_hours
  		  	      , spc_holiday
  		  	      , spc_status
  		  	      , spc_convn
  		  	      , user_id
  		  	      , map_latitude
  		  	      , map_longitude
  		  	      , map_location
                  )
     join (
     		SELECT SPC_NO, COUNT (*) WISHES
		                FROM WISH 
		                GROUP BY SPC_NO
          )
    using (spc_no) 
  </select>
  
  
 <select id="selectQnaListCount" parameterType="string" resultType="_int">
    select count(*)
	 from question_answer q
     join space_info s on(q.spc_no=s.spc_no)
	 where s.spc_name = #{spcName}
	   and qa_status = 'Y'
  </select>
  
  
 <select id="selectQnaList" parameterType="string" resultMap="selectQnaListResultSet">
	select 
	     qa_no
	    ,qa_content
	    ,qa_writer
	    ,qa_date
	    ,qa_answer
	    ,qa_answerdate
	    ,qa_status
	    ,qa_secret
	    ,q.user_id
	    ,q.spc_no
	    ,s.spc_name
	    ,s.spc_type
	  from question_answer q
	  join space_info s on(q.spc_no=s.spc_no)
	  where s.spc_name = #{spcName}
	    and qa_status = 'Y'
	  order
	     by qa_no desc
  </select>
  <update id="insertQna" parameterType="hostQna">
  	update
	  	   question_answer
	   set qa_answer = #{qaAnswer}
	      ,qa_answerdate = sysdate
	 where qa_no = #{qaNo}
  
  </update>
  
  <update id="deleteSpace" parameterType="string">
  	update
           space_info
       set spc_status = 'N'
     where spc_no = #{spcNo}
  </update>
   <select id="selectAnswerComplete" parameterType="string" resultMap="selectQnaListResultSet">
	select 
	     qa_no
	    ,qa_content
	    ,qa_writer
	    ,qa_date
	    ,qa_answer
	    ,qa_answerdate
	    ,qa_status
	    ,qa_secret
	    ,q.user_id
	    ,q.spc_no
	    ,s.spc_name
	    ,s.spc_type
	  from question_answer q
	  join space_info s on(q.spc_no=s.spc_no)
	  where s.spc_name = #{spcName}
	    and qa_status = 'Y'
	    and qa_answer is not null
	  order
	     by qa_no desc
  </select>
   <select id="selectAnswerIncomplete" parameterType="string" resultMap="selectQnaListResultSet">
	select 
	     qa_no
	    ,qa_content
	    ,qa_writer
	    ,qa_date
	    ,qa_answer
	    ,qa_answerdate
	    ,qa_status
	    ,qa_secret
	    ,q.user_id
	    ,q.spc_no
	    ,s.spc_name
	    ,s.spc_type
	  from question_answer q
	  join space_info s on(q.spc_no=s.spc_no)
	  where s.spc_name = #{spcName}
	    and qa_status = 'Y'
	    and qa_answer is null
	  order
	     by qa_no desc
  </select>
  <update id="deleteQna" parameterType="hostQna">
  	 update
	        question_answer
	   set  qa_answer = null
	       ,qa_answerdate = null
	 where qa_no = #{qaNo}
  </update>
  
  <select id="selectCalAll" parameterType="calculation" resultMap="selectCalResultSet">
  	select
	       reservation_no
	       ,r.user_id
	       ,spc_no
	       ,spc_name 
	       ,pay_date
	       ,pay_sum
	       ,reservation_status
	  from reservation r
	  join space_info s using(spc_no)
	  where user_id_h = #{userId}
	    and pay_date  BETWEEN TO_DATE(#{reservDate}, 'YYYYMM') AND  TO_DATE(#{reservDate}, 'YYYYMM')+29 
	    and (reservation_status = '취소환불'
	    or reservation_status = '이용완료')
     order by pay_date
         	  desc
  </select>
  
  <select id="selectCalList" parameterType="calculation" resultMap="selectCalResultSet">
  		select
		       reservation_no
		       ,spc_no
		       ,spc_name 
		       ,pay_date
		       ,pay_sum
		       ,reservation_status
		  from reservation r
		  join space_info s using(spc_no)
		  where spc_name = #{spcName}
		    and pay_date  BETWEEN TO_DATE(#{reservDate}, 'YYYYMM') AND  TO_DATE(#{reservDate}, 'YYYYMM')+29
		    and (reservation_status = '취소환불'
		    or reservation_status = '이용완료')
		  order by pay_date
         	  desc
  </select>
  <insert id="insertInquiry" parameterType="Inquiry">
   insert
   into inquiry
        (
           inquiry_no
          ,user_id
          ,inquiry_title
          ,inquiry_content
          ,reply_status
        
        )
   values(
          SEQ_INQUIRY.nextval
         ,#{inquiryWriter}
         ,#{inquiryTitle}
         ,#{inquiryContent}
         ,'N'
         )
  
  </insert>
  <select id="selectInquiryCount" resultType="_int" parameterType="string">
   select count(*)
	 from inquiry
	where user_id = #{userId}
	 and status ='Y'
  </select>
  <select id="selectInquiry" resultMap="hostInquiryResultSet" parameterType="string">
   select
  	       inquiry_no
  	     , user_id
  	     , inquiry_title
  	     , inquiry_content
  	     , inquiry_reply
  	     , enroll_date
  	     , reply_date
  	     , reply_status
  	  from inquiry 
  	 where status='Y'    
  	   and user_id = #{userId} 
  	  order
	     by inquiry_no desc
  </select>
  <update id="deleteInquiry" parameterType="_int">
  update
    inquiry
    set status = 'N'
    where inquiry_no = #{inquiryNo}
  
  </update>
  
  <select id="spaceReservationList" resultMap="reservationResultSet" parameterType="string">
          
  	select
  		   tion.reservation_no
  	     , tion.user_id
  	     , tion.spc_no
  	     , tion.user_id_h
  	     , tion.reservation_date
  	     , tion.reservation_name
  	     , tion.reservation_total
  	     , tion.purpose_type
  	     , tion.use_date
  	     , tion.use_time
  	     , tion.end_date
  	     , tion.end_time
  	     , tion.pay_date
  	     , tion.pay_sum
  	     , tion.refund
  	     , tion.pay_method
  	     , tion.reservation_status
  	     , tion.total_time
         , ss.spc_name
  	  from RESERVATION tion left outer join space_info ss 
  	    on tion.spc_no = ss.spc_no
     where tion.user_id_h = #{userId}
       and rownum &lt; 10
     order by
           reservation_date desc
  </select>
  
  <update id="ReservationCancle" parameterType="Reservation">
  	update RESERVATION
       set RESERVATION_STATUS = '취소환불'
     where user_id = #{userId}
       and spc_no = (
          select spc_no
            from space_info
           where spc_name = #{ReSpcName})
  </update>
  
  	<!-- 이용후기 총게시물 갯수 -->
	<select id="selectMyReviewListCount" parameterType="string" resultType="_int">
		select
		       count(*)
		  from reservation
		 where user_id_h=#{userId}
		   and reservation_status like '이용완료'
	</select>
	
	<!-- 이용후기 게시물리스트 -->
	<select id="selectMyReviewList" resultMap="myReviewSet">
		select
		       r.reservation_no
		     , r.use_date
		     , r.reservation_status
		     , rv.review_no
		     , rv.review_writer
		     , rv.review_title
		     , rv.review_content
		     , rv.review_date
		     , rv.review_status
		     <if test="reviewReply != null">
		     , rv.review_reply
		     </if>
		     , sp.spc_no
		     , sp.spc_name
		     , sp.spc_type
		     , substr(map_location, 0, 2) as map_location
		  from review rv
		  join space_info sp on(sp.spc_no=rv.spc_no)
		full outer  
		      join reservation r on(sp.spc_no=r.spc_no)
		 where r.user_id_h=#{userId}
		   and review_status='Y'
		   and reservation_status like '%이용완료%'
		 order 
		    by review_date desc
	</select>
	
	<select id="selectOneSpace" parameterType="_int" resultMap="spaceResultSet">
	SELECT SPC_NO
     	 , SPC_NAME
     	 , SPC_INT
     	 , SPC_LONG
     	 , SPC_TAG
     	 , SPC_TYPE
     	 , SPC_MIN
     	 , SPC_MAX
     	 , SPC_IMG
      	 , SPC_CHIMG
     	 , SPC_PRICE
     	 , SPC_HOURS
     	 , SPC_HOLIDAY
     	 , SPC_STATUS
     	 , SPC_CONVN
     	 , USER_ID
     	 , MAP_LATITUDE
     	 , MAP_LONGITUDE
     	 , MAP_LOCATION
     	 , ENROLL_DATE
  	  FROM SPACE_INFO
 	 WHERE spc_no =#{sno}
	
	</select>
</mapper>
