@charset "UTF-8";
  #floatMenu{
            position: relative;
            top:120px;
            left:80px;
        }
        #floatMenu img{
            width:25px; height:25px;
            margin-left: 10px;
            margin-right: 5px;
            margin:10px 5px 5px 20px;
            transition: all var(--animation-duration) ease;
            
        }
        #floatMenu img:hover{
            transform: rotate(-30deg) scale(1.1);
            
        }
        #floatMenu li{
            width:180px;
            height:50px;
            border: 0.5px solid #dad1db;
            border-radius: 20px;
            cursor: pointer;
        }
        #floatMenu li:hover{
            background-color: rgb(243, 243, 243);
            color: var(--color-purple);
            transform: scale(1.02);
            border: 1.5px solid gray;
        }
        /* 여기서부터 정산페이지 */
        #calculate_container{
            width:900px;
            /* background-color: lightgrey; */
            position: absolute;
            top:130px;
            left:300px;
        }
        .container1{
            width:700px;
            margin:auto;
            margin-bottom: 60px;
        }
        .container1_head{
            height:40px;
            background-color: var(--color-purple);
            text-align: center;
            line-height: 40px;
        }
        .containert2{
            margin-top: 60px;
        }
        .container1_box{
            height: 150px;
            display: flexbox;
            border: 1px solid var(--color-purple);
            padding:30px;
            flex-direction: row;
            /* justify-content: space-between; */
            /* align-items: center; */
        }
        .box_1{
            width:50%;
            height:100%;
            float: left;
        }
        .box_2{
            width:50%;
            height:100%;
            float: left;
        }
        .box_2 input[type=text]{
            position: absolute;

        }
        .container1_box p{
            display: block; margin-top:10px;
        }
        .payment{
            width:150px;
            height: 40px;
            text-align: center;
            font-size: 15px;
        }
        .payment_clear{
            width:60%; 
            background-color: var(--color-yellow);
            color: white;
            line-height: 40px;
            border-right:1px solid rgb(223, 213, 213);
            
        }
        .payment_cancel{
            width:40%;
            background-color: var(--color-yellow);
            color: white;
            line-height: 40px;
        }
        .payment div{
            height:100%;
            float:left;
        }
        .container2_title{
            text-align: center;
            margin-bottom: 30px;
        }
        .container2_title p{
            color: var(--color-yellow);
        }
        .box_1 input{
            width:90px;
        }
        input[type=image]{
            display: inline;
            width:25px;
            height: 25px;
            position: relative;
            left: 180px;
            top:5px;      
        }
        input[type=image]:active{
            display: inline;
            width:25px;
            height: 25px; 
        }
        .searchIcon{
            transition: all var(--animation-duration) ease;
        }
        .searchIcon:hover{
            transform: rotate(30deg) scale(1.1);
        }
        ::placeholder{
            font-size: 13px;
        }
        #paymentList tr{
            font-size: 15px;
        }