@charset "UTF-8";

 #inquiryContainer{
     width:900px;
     position: absolute;
     top:130px;
     left:400px;
     }
 .inquiry_head{
 	 height:40px;
     background-color: var(--color-purple);
     text-align: center;
     line-height: 40px;
     width:900px;
 }
.myinquiry{
 	margin-top:40px;
 	text-align:center;
 	
 }
#writeBtn{
	margin-left:700px;
	width:80px;
}
.inq_1{
 	 width:410px;
 	 height:369px;
     border: solid 2px #704de4;
     padding:20px;
     margin:15px;
     display: inline-block;
     border-radius:10px;
}
h4:not(.title){
	font-size:16px !important;

}
.answer h4{
	color:#704de4;
}
hr{
	 border-top: 3px solid #eee !important;
}
.qdate{
	color:grey !important;
}
.contentBase{
	width:360px;
	background-color:#fafafa;
	height:70px;
	padding:10px;
	margin-top:30px;
	margin-bottom:10px;
}
.inquiryTitleBox{
	border:2px solid var(--color-purple);
	height:140px;
	margin-top:25px;
	width:100%;
	margin-right:100px;
	margin-bottom:40px;
	padding:10px;
}
.inquiry_body{
	margin-top:200px !important;
	
}
