@charset "UTF-8";

      .importh{
           color: var(--color-yellow);
       }
     
       #spaceInsertContainer{
           margin:auto;
           width:1000px;
           height:700px;
           padding:20px;
       }
       #spaceInsertContainer h5{
           font-size: 19px;
           margin-top: 70px;
       }
       .comment1{
       font-weight: lighter;
       font-size: 13px;
   }
       ::placeholder{ font-size: 13px; font-weight: 300}
       #spaceForm{
           width:1050px;
           margin-top: 30px;
           height: 700px;
           background-color: rgb(247, 246, 248);
           padding:20px;
       }
       #form_1{
           width:50%;
           height:100%;
   
       }
       #form_2{
           width:50%;
           height:100%;
   
       }
       #spaceForm>div{
           float: left;
       }
       #notTag{
       margin-bottom:20px;
       margin-left:10px;
       margin-top:30px;
       }
      
       #tagAddBtn{
        height: 35px;
	    width: 90px;
	    font-size: 14px;
	    line-height: 10px;
	    margin-bottom: 0px;
	    margin-left: 20px;
	    margin-top: 10px;
		}
       }
       .form_1_table input:not([id=notTag]){
           width: 280px;
           margin: 20px;
       }
       .form_1_table [name=tag]{
           margin-left: 10px;
           margin-right: 0px;
           width: 200px;
           margin-top: 10px;
       }
       .form_1_table textarea{
           width: 300px;
           margin-left: 10px;
           margin-top:20px;
       }
       #introduceSpc{
       	  width:320px;
       }
       #spcInt{
       	margin-top:20px;
       	margin-left:10px;
       	margin-botton:5px;
       	width: 315px;
       }
        #spcName{
       	width: 315px;
       	margin-left:10px;
       	margin-bottom:10px;
       	margin-top: 10px;
       }
       .form_2_table th{
           width:180px;
       }
       /*부트스트랩 변경*/
       .form-control:not(textarea){
           height: calc(1.9em + .75rem + 2px) !important;
           font-weight: 300 !important;
           border-radius: 0rem !important;
           font-size: 15px !important;
       }
       .form_2_table input{
           margin-bottom: 15px;
       }
       .form_2_table input[name=category]{
           width: 280px;
       }
       .form_2_table input[type=number]{
           width:130px;
       }
       .form_2_table input:not([name=location]){
           margin:10px;
           margin-bottom:15px;
       }
       .form_2_table th{
           width:130px;
       }
       input[name=location]{
           width: 280px;
           margin-left: 10px;
           margin-bottom: 30px;
          
       }
       .minNmax p{
           margin-left: 10px;
           font-size: 15px;
       }
      .minNmax{
          width: 130px;
      }
      .location{
          width:150px;
      }
      .introduce p{
          margin-left: 10px;
          font-size: 15px;
          color: rgb(82, 29, 82);
      }
      #spacePrice{
       width:130px;
      }
      #unit{
          width:130px;
      }
      input[type=time]{
          width:130px;
          height:40px;
      }

      #spaceForm2{
         display: none;
         position: absolute;
         margin-top: 30px;
          background-color: rgb(247, 246, 248);
          width:1000px;
          height:1080px;
          padding:10px;
          margin-bottom:100px;
          
      }
      .imgbox{
          width:180px;
          height:160px;
          background-color: gray;
          margin-top:15px;
          margin-right: 10px;
      }
      .many_imgbox{
          margin-top: 30px;
          width:680px;
          height:230px;
          background-color: #eeeeee;
      }
      #cancelImg{
       cursor:pointer
      }
      .many_imgbox div{
          float: left;
      }
      #spaceForm2 input[type=file]{
          width:180px;
          font-size: 13px;
          margin-bottom: 25px;
      }
      #spaceForm2 .form-control:not(#realNotes){
        display: inline-block;
        width:250px;
        margin:5px;
      }
      .notes .btn-primary{
          height: 35px;
      }
   
      .many_notes input{
        width:315px;
        margin-top: 20px;
      }
      .many_notes{
          margin-top: 25px;
          width: 350px;
          background-color: #eeeeee;
          margin: 5px 0px 10px 138px;
          padding: 5px;
      }
      #spaceForm2 label[for=spc_img]{
          margin: 5px 0px 45px 0px;
          padding: 3px;
          color: white;
          background-color:var(--color-purple);
          cursor: pointer;
          
      }
      #spaceForm2 label[for=spc_imgs]{
        margin: 5px 0px 25px 0px;
	    padding: 3px;
	    color: white;
	    background-color: var(--color-purple);
	    cursor: pointer;
	    position: absolute;
	    top: 770px;
	    left: 10px;
          
      }
      #spaceForm2 input[type=file]{
          display: none;
          background-color: var(--color-purple);
      }
      #subBtn{
          width:100px;
          height:40px;
          margin-left:20px;
      }
      #backBtn2{
      	width:100px;
      	margin-left:300px;
      	height:40px;
      }
      .form-check{
      	display:inline;
      	margin:5px;
      }
      .form_1_table input{
      	height:40px;
      }
      #spaceForm{
      	font-size:17px;
      }
      #spaceForm2 p {
      	font-size:17px;
      }
      .form-check-label{
      	font-size:16px;
      }
      .content img{
      	width:20px;
      	height:20px;
      	cursor:pointer;
      }
       .noteClose{
          width:25px;
          height:25px;
          cursor: pointer;
      }
        #img{
        width: 160px;
        height:140px;
        border:none;
        position: relative;
        top:10px;
        left:10px;
    }
    #imgs{
        width: 160px;
        height:120px;
        border:none;
        position: relative;
        top:5px;
        left:10px;
    }
    #imgsLabel{
    	width:30px;
    	height:25px;
    	text-align:center;
    	padding:3px;
    	border-radius:5px;
    	font-size:18px;
    	line-height:20px;
    }
    #map{
    postion:relative;
    top:-15px;
    left:145px;
    margin-bottm:10px;
    }